{% extends 'deelnemer.html.twig' %}
{% block menu %}
    <li><a href="{{ path('activiteiten') }}">home</a></li>
    <li><a href="{{ path('accountbeheer') }}">account beheer</a></li>


{% endblock %}


{% block content %}

{% endblock %}